body {
    background: #000;
}

/* Nav Bar */
.navbar {
    background-color: black;
}
.navbar-brand {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-stretch: expanded 5px;
    letter-spacing: 4.5px;
    font-weight: 300;
    color: whitesmoke;
}
.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    text-align: right;
}

nav a:hover {
    color: plum;
}
.fab {
    color: whitesmoke;
}

/* Video Hero Section*/

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    height: 800px;
  }
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  .jumbotron .container {
    z-index: 2;
    position: relative;
  }

.display-6 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    letter-spacing: 8px;
    text-align: center;
    padding-top: 24%;
}

.no-padding {
    padding-top: 0%;
}

.lead {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-top: 1%;
}

.fas {
    width: 100px;
    height: 100px;
    padding-top: 7%;
    padding-left: 50%;
}

#downarrow:hover {
    transform: scale(1);
}

/* Carousel Images */
/* .image1 {
    width: 1350px;
    height: 900px;
}
.image2 {
    width: 1350px;
    height: 900px;
}
.image3 {
    width: 1350px;
    height: 900px;
}
.image4 {
    width: 1350px;
    height: 900px;
} */

.image5 {
    width: 400px;
    height: 275px;
    border-radius: 20%;
    margin-top: 1%;
    margin-right: 2%;
}

/* Cards */
.card {
    height: 310px;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: whitesmoke;
}
.card2 {
    height: 630px;
    background-color: #744EA0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: whitesmoke;
}

.card3 {
    height: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: whitesmoke;
}

.row-container-left{
    display: flex;
    flex-flow: wrap;
    width: 50%;
    justify-content: space-evenly;
    align-content: flex-start;
    align-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;

}

.row-container-right{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-flow: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;

}

.row-container-around {
    display: flex;
    justify-content: space-around;

}

.card-body {
    display: flex;
}

.card-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    letter-spacing: 4.5px;
    margin-top: 0%;
    margin-left: 1.8%;
}

.card-title2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    letter-spacing: 4.5px;
    margin-top: 2.5%;
    margin-left: 1.8%;
    padding-bottom: 2%;
}

.card-title3 {
    color: whitesmoke;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: italic;
    text-align: center;
}

.card-title4 {
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    text-align: center;
}

.card-text {
    text-align: left;
    padding: 1.2% 4% 4% 1%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    /* font-style: italic; */
}

.card-text2 {
    text-align: left;
    padding: 1.5% 4% 4% 1%;
    margin-left: 3.5%;
    margin-right: 3.5%; 
}

.card-text3 {
    color: whitesmoke;
    padding-top: 2%;
}

.iphone-app {
    width: 300px;
    height: 300px;
    margin-left: 5%;

}

.iphone-app2 {
    width: 325px;
    height: 475px;
    margin-left: 10%
}
  
  /* Define #phone hover styles */
  #phone:hover {
    transform: scale(1.25);
  }

.form-control {
    width: 60%;
    margin-left: 20%;
    padding-right: 15%;
}

.form-control2 {
    width: 50%;
}

/* Footer Section */
.card-footer {
    height: 300px;
}

.footer-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1.5%;
}

.modal-title {
color: green;
font-family: 'Source Sans Pro', sans-serif;
text-align: center;
font-weight: 500;
}
.modal-body {
    color: black;
    text-align: center;
}
.app-store {
    width: 140px;
    height: 50px;
    padding-right: 1%;
}

.google-play {
    width: 185px;
    height: 50px;
    padding-left: 3%;
}

/* Media Queries */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card-text {
        font-size: 21pt;
    }

    .card-text2 {
        font-size: 15pt;
    }
    .image1 {
        width: 1350px;
        height: 900px;
    }
    .image2 {
        width: 1350px;
        height: 900px;
    }
    .image3 {
        width: 1350px;
        height: 900px;
    }
    .image4 {
        width: 1350px;
        height: 900px;
    }
}

/* 
@media (max-width: 991px) {
    .iphone-app {
        width: 220px;
        height: 220px;
    }
    .iphone-app2 {
        width: 210px;
        height: 320px;
    }  
}

@media (min-width: 577px) {
    .iphone-app {
        width: 220px;
        height: 220px;
    }
    .iphone-app2 {
        width: 210px;
        height: 320px;
    }
} */

/* // Medium devices (landscape phones, 576px and below) */
@media (min-width: 768px) and (max-width: 991px) { 
   
    .fab {
        display: flex;
    }

    .display-6 {
       font-size: 19pt;
   }
   .container {
       margin-top: 18%;
   }

   .card {
       height: 200px;
   }

   .card2 {
       height: 530px;
   }

   .card-title {
       text-align: center;
   }

   .iphone-app {
       width: 200px;
       height: 200px;
   }   
   .iphone-app2 {
       width: 220px;
       height: 315px;
   }

   .card-text {
       font-size: 13pt;
       width: 100%;
   }

   .card-text2 {
       font-size: 10pt;
       flex-flow: nowrap;
   }

   .card-text3 {
       font-size: 10pt;
       flex-flow: nowrap;
   }

   .card-text4 {
       font-size: 10pt;
   }

   .image5 {
    width: 290px;
    height:190px;
    }

}

/* Small Devices */
@media (min-width: 576px) and (max-width: 767px) {
    
    .display-6 {
        font-size: 25pt;
    }
    .image5 {
        width: 190px;
        height:100px;
        }
    
}

/* XSmall Devices */
@media (max-width: 575px) {
    
    .navbar {
        display: none;
    }

    .display-6 {
        font-size: 19pt;
    }
    .container {
        padding-top: 40%;
    }
    
    .card {
        height: 230px;
    }

    .card-body {
        display: flex;
        justify-content: space-around;
    }

    .card-title {
        font-size: 14pt;
    }
    .card-text {
        min-width: 250px;
        max-width: 300px;
        margin-right: 2%;
        font-size: 10pt;

    }
    .iphone-app2 {
        width: 200px;
        height: 290px;
        margin-left: 2%;
    }
    .card-text2 {
        font-size: 10pt;
        min-width: 100px;
    }
    
    .card-text3 {
        min-width: 600px;
        font-size: 10pt;
    }
   
}


/* @media (max-width: 575px) { 
    body {
        background-color: purple;
    }
} */
/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
    body {
        background-color: red;
    }
} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
    body {
        background-color: blue;
    }
} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
    body {
        background-color: green;
    }
 } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 
    body {
        background-color: yellow;
    } 
 } */